<html>
    <!doctype html>
    <!--[if lt IE 7]>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>
        <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!-->
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{% block head_title %}{% endblock %}</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <style type="text/css">
        </style>
	<link rel="stylesheet" type="text/css" href="./estilos.css">

    </head>
    <body>
        <h1>Bar Gradient Chart on HTML</h1>
        <article>
            <section id="stations_table">
            </section>
            <section id="stations_status" >
		<span id="barGradient"></span>
            </section>
        </article>
	<script src="https://d3js.org/d3.v5.min.js"></script>
        <script id="call_fuel_code" src="./gradient_bar.js"></script>
    </body>
</html>

