body {
  font-family: Helvetica, Arial, sans-serif;
}

.gauge text.label {
  fill: #ff0000;
  font-weight: bold;
}

.gauge text.value {
  fill: #000000;
  font-weight: bold;
}

.gauge .majorTick {
  stroke: #fff;
  stroke-width: 1px;
}

.gauge .minorTick {
  stroke: #787785;
  stroke-width: 1px;
}

.gauge .pointerLine {
  stroke: #000;
  fill: #000;
}

.gauge .pointerCircle {
  stroke: #000;
  fill: #000;
}

