<html>
    <!doctype html>
    <!--[if lt IE 7]>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
    <!--[if IE 8]>
        <html class="no-js lt-ie9" lang=""> <![endif]-->
    <!--[if gt IE 8]><!-->
    <head>
        		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
		        <title>Smoothed D3.js Radar Chart</title>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <title>{% block head_title %}{% endblock %}</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300" rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

        <style type="text/css">
        </style>
        <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>-->
	<link rel="stylesheet" type="text/css" href="./dop.css">

    </head>
    <body>
        <h1>Radar Chart</h1>
        <article>
            <section id="radarChart">
            </section>
            <section id="stations_status" >
		<span id="barGradient"></span>
            </section>
        </article>
        <script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="radarChart_up_v5.js"></script>	
		<script src="dop.js"></script>
    </body>
</html>

